[Desktop Entry]
Name=Wallpaper Manager
Comment=Wähle Wallpapers und setze sie mit Caelestia
Exec=wallpaper-manager
Icon=user-desktop
Terminal=false
Type=Application
Categories=Utility;Graphics;
StartupNotify=true