[Desktop Entry]
Name=Wallpaper Manager
Comment=Wähle Wallpapers mit einem Klick
Exec=wallpaper-manager
Icon=user-desktop
Terminal=false
Type=Application
Categories=Utility;Graphics;
StartupNotify=true